html{
max-height: 100vh;

}

body {
    width: 100%;

    margin: auto;
 
	
	background-color: rgb(76,225,246)
}


#sketch {}


#photos {
        width: 90vmin;
    margin:0 auto;
    
        text-align:center;
        align-content: center;
    	justify-content: center;
 
}

#photos img {
  /* Just in case there are inline attributes */
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

#cinegraph {
    
    width: 90vmin;
    margin: 0 auto;
	line-height: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap:   20px;
  -moz-column-count:    1;
  -moz-column-gap:      20px;
  column-count:         1;
  column-gap:           20px; 
    grid-row-gap:       20px;
}